{% extends "index.html" %}



{% block title_head %}About me{% endblock title_head %}
{% block h1_header %}About me {% endblock h1_header %}


{% block contenido %}
Mi nombre es Yanina Garropoli. 
Soy Ingenieria industrial y trabajo en el area de Redeterminaciones de precios de la DGCYE
Hoy en dia me estoy dedicando tambien a la Informatica; 
brindo servicios para cualquier empresa que necesite hacer una pagina web con sus productos
para que eñ usuario pueda ver lo qye hay disponible.


{% endblock contenido  %}



    


   
