<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar vinos </title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "cargar_vinos" %}>Cargar vinos</a>
        <a href={% url "listar_vinos" %}>Listar Vinos</a>
        <a href={% url "filtrar_vinos" %}>Filtrar Vinos</a>
    </nav>

    <h1>Filtrar Vinos</h1>
    <form action="" method="GET">
        {% csrf_token %}
    
  
        {{form}}
        <input type="submit" value="Filtrar">
   
    </form>

    <h2>Vinos:</h2>
    {%if vinos%}
        <ul>
            {% for vino in vinos %}
            <li>
               
                {{ vino.variedad }} - {{ vino.etiqueta }}
            </li>
                {% endfor %}
        <ul>
        {% else %}
        No hay vinos de esa variedad
        {% endif %}