{% extends "inicio/inicio.html" %}
{% block h1_header %}{% endblock h1_header %}

{% block title_head %}Buscar Vinos{% endblock title_head %}
{% block contenido %}
    <h1>Buscar Vinos</h1>
    <form action="" method="GET">
        
    
  
        {{form}}
        <input type="submit" value="Buscar">
   
    </form>

    <h2>Vinos:</h2>
    {%if vinos%}
        <ul>
            {% for vino in vinos %}
            <li>
               
                {{ vino.variedad }} - {{ vino.etiqueta }}
            </li>
                {% endfor %}
        <ul>
        {% else %}
        No hay vinos de esa variedad
        {% endif %}
 {% endblock contenido  %}