{% extends "index.html" %}

{% block title_head %}Perfil del Usuario{% endblock title_head %}

{% block h1_header %}Perfil del usuario{% endblock h1_header %}

{% block contenido %}
<h1>Perfil de {{  user.username }}</h1>

<p><strong>Nombre:</strong> {{ user.first_name }}</p>

<p><strong>Apellido:</strong> {{ user.last_name }}</p>

<p><strong>Email:</strong> {{ user.email}}</p>
{% if request.user.infoextra.avatar %}
<p><strong>Avatar:</strong></p>
<img src="{{ user.infoextra.avatar.url }}" alt="Avatar" width="100">
{% endif %}


<p><strong>Hobbies:</strong> {{ user.infoextra.hobbies }}</p>


<a href="{% url 'editar_perfil' %}">Editar perfil</a>



 





{% endblock contenido %}